
<div class="pagination">
    <span class="pager">
        {% if events.has_previous %}
            <li><a href="?page={{ events.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Previous</a></li>
        {% endif %}

        <span style="color: #2b669a;">
            <strong>Page {{ events.number }} of {{ events.paginator.num_pages }}</strong>
        </span>

        {% if events.has_next %}
            <li><a href="?page={{ events.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Next</a></li>
        {% endif %}
    </span>

</div>